{% extends 'DuckAssistantBundle::base.html.twig' %}

{% block body %}
    <h1>Witaj {% if is_granted('IS_AUTHENTICATED_FULLY') %}
{{ app.user.username }}
        {% endif %}</h1>
    <h2>Nasz Duck Assistant jest wciąż w fazie developerskiej ;/</h2>
    <h3>A oto nasz progress :) </h3>
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" style="width: 75%"></div>
    </div>
    <h3>Tak naprawdę zmyśliliśmy te procenty, żaden z Nas nie wie na czym stoimy ;)</h3>
    <h3>Liczymy ze będziesz nasz odwiedzać i sprawdzać co u Nas nowego!</h3>
    <h3>3maj się i Kwak,Kwak!</h3>
{% endblock %}
