{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task Lists</h1>
    <ul>
            {% for Task in tasks %}
            <li>{{ Task.id }}</li>
            <li>{{ Task.content }}</li>
            <li>{{ Task.done }}</li>
        {% endfor %}
    </ul>
{% endblock %}
