<!DOCTYPE html>
<html>
<head>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {#{% block stylesheets %}{% endblock %}#}
    {% stylesheets '@bootstrap_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{%
set mainMenu = [
{'path': 'duck_assistant_homepage', 'name':'Home' },
{'path': 'duck_assistantBundle_cat_Lists', 'name':'Kategorie' },
{'path': 'duck_assistantBundle_task_Lists', 'name':'Zadania' },
{'path': 'duck_assistantBundle_user_index', 'name':'Użytkownicy' }
]
%}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Duck Assistant</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {%  for item in mainMenu %}
                    <li><a href="{{ path(item['path']) }}">{{ item['name'] }}</a></li>
                {% endfor %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">
{% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
